.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(255, 204, 0);
    background-color: rgba(154, 123, 0, 0.511);
    border-radius: 10px;
    padding: 2%;
    width: 40%;
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input label {
    margin: 10px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
}

.button {
    padding: 10px;
    background-color: #fff;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(65, 123, 239);
    color: #FFF;
    border: 1px solid rgb(65, 123, 239);
    margin-bottom: 1rem;
    width: 50%;
    transition: .5s all;
}

.button:hover{
    transform: scale(1.1);
}