.header {
    background-color: #23196d;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header h1 {
    font-size: 50px;
    color: rgb(255, 204, 0);
    padding: 1.5rem;

}