.container {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.contato {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contato h2 {
  margin-bottom: 15px;
}